<div class="p-10 bg-gradient-to-br from-blue-200 via-blue-300 to-blue-200 h-screen w-screen flex justify-start items-center flex-col">
    <h1 class="animate-pulse mb-5 text-blue-950 text-center text-wrap mt-20 text-4xl black font-black">NOT FOUND</h1>
    <p class="font-bold text-blue-950 text-center text-wrap">The page you are looking for does not exist</p>
    <button [routerLink]="['/']" class="mt-10 transition-all hover:bg-blue-800 shadow-md shadow-black text-white text-2xl font-bold p-5 rounded-xl bg-blue-600">Go To Home Page</button>
</div>
