<div class="w-full h-full">
    <!-- <div class="animate-spin border-t-[40px] border-blue-700 mt-20 w-64 h-64 bg-blue-200 rounded-full"></div> -->
    <h1 class="animate-pulse opacity-80 font-black text-xl text-center text-wrap mt-16 mx-4 mb-10 text-blue-800">
        <span class="animate-bounce my-2 flex justify-center items-center text-3xl">
            <span class="bg-blue-500 text-white border-[1px] border-black shadow-sm shadow-black w-10 h-10 flex justify-center items-center">
                L
            </span>
            <span class="bg-blue-500 text-white border-[1px] border-black shadow-sm shadow-black w-10 h-10 flex justify-center items-center">
                O
            </span>
            <span class="bg-blue-500 text-white border-[1px] border-black p-1 shadow-sm shadow-black w-10 h-10 flex justify-center items-center">
                A
            </span>
            <span class="bg-blue-500 text-white border-[1px] border-black p-1 shadow-sm shadow-black w-10 h-10 flex justify-center items-center">
                D
            </span>
            <span class="bg-blue-500 text-white border-[1px] border-black p-1 shadow-sm shadow-black w-10 h-10 flex justify-center items-center">
                I
            </span>
            <span class="bg-blue-500 text-white border-[1px] border-black p-1 shadow-sm shadow-black w-10 h-10 flex justify-center items-center">
                N
            </span>
            <span class="bg-blue-500 text-white border-[1px] border-black p-1 shadow-sm shadow-black w-10 h-10 flex justify-center items-center">
                G
            </span>
        </span>
    </h1>
</div>